*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    min-height: 100vh;
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
}

.search-form {
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe{
    display: grid;
    justify-content: center;
    align-items: center; 
}